
.text-of-link {  
    text-align: center;
}
.skip-to-content {
    position: absolute; 
    top: -2%; 
    left: 0;
    background-color: #0078d7;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    z-index: 10; 
    transition: top 0.3s ease; 
}

.skip-to-content:focus { /* Use the position property and the focus pseudo-class to style your "Skip to Main Content" link. */
    top: 20px; 
}

.page-tabs-nav {  /* Style your navigation in an attractive fashion – use at least three CSS properties */
    display: flex; 
    justify-content: center; 
    background-color: rgb(111, 21, 99); 
    padding: 15px; 
    gap: 30px; 
}

.page-tabs-nav ul { /* Apply the flex property to at least one parent element. */
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    gap: 30px; 
}

.page-tabs-nav li {
    margin: 0; 
}

.page1-link, .page2-link, .page3-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.page1-link:hover, .page2-link:hover, .page3-link:hover { /* Update at least one element using the hover pseudo-class. */
    background-color: white;
    color: rgb(111, 21, 99); 
}


h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
.basic-characteristics-list {
    font-family: Arial, Helvetica, sans-serif;
}



.item-columns {  /* Apply the grid property to at least one parent element. Use at least two columns, but feel free to use more! */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px;
}
.column {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}


.item-content:nth-child(1) { /* Implement the nth-child selector. */
    background-color: #3290e3; 
    padding: 20px;
    border-radius: 10px;
}
.item-content:nth-child(2) {
    background-color: #13d613; 
    padding: 20px;
    border-radius: 10px;
}
.item-content:nth-child(3) {
    background-color: #ae1978; 
    padding: 20px;
    border-radius: 10px;
}
.item-content:nth-child(4) {
    background-color: #e97e0d; 
    padding: 20px;
    border-radius: 10px;
}
.item-content:nth-child(5) {
    background-color: #e6f603; 
    padding: 20px;
    border-radius: 10px;
}

.item-image { /* Style all images using the box model. At a minimum use border, padding, and border-radius. */
    width: 80%; 
    height: auto;
    border: 5px solid #ff0000;
    border-radius: 10%; 
    margin-bottom: 10px;
}
.font-for-image-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    font-weight: bold;
}
.image-description {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}